{{template "game" .}}

{{define "card-table"}}
{{end}}

{{define "scripts"}}
	<script>
		var id = "{{.ID}}";
		var table = "#card-table";
		cards.init({table:table, cardsUrl:"/static/images/cards.png"});
		var deck = new cards.Deck();
		//deck.x -= 50;
		deck.addCards(cards.all);
		deck.render({immediate:true});

		kaiser.init(id); // This starts polling and updating the game board.
 
		// var hands = [
		// 	new cards.Hand({faceUp:true, y:340}),
		// 	new cards.Hand({faceUp:false, x:20}),
		// 	new cards.Hand({faceUp:false, y:60}),
		// 	new cards.Hand({faceUp:false, x:380}),
		// ]

		// hands[0].addCard(new cards.Card('h', 5, table));
		// hands[0].addCard(new cards.Card('h', 12, table));
		// hands[0].addCard(new cards.Card('h', 13, table));
		// hands[0].addCard(new cards.Card('h', 14, table));
		// hands[0].render();
	</script>
{{end}}
