{{define "game"}}
<!doctype html>
<html lang="en">
<head>
	<title>Kaiser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/css/global.css" rel="stylesheet">
	<link href="/static/css/game.css" rel="stylesheet">
	<script src="/static/scripts/jquery-3.5.1.min.js"></script>
</head>
<body>
	<h1>Kaiser <small>(Code: {{.ID}})</small></h1>
	<img class="preload" src="/static/images/cards/AH.png"/>
	<img class="preload" src="/static/images/cards/KH.png"/>
	<img class="preload" src="/static/images/cards/QH.png"/>
	<img class="preload" src="/static/images/cards/JH.png"/>
	<img class="preload" src="/static/images/cards/TH.png"/>
	<img class="preload" src="/static/images/cards/9H.png"/>
	<img class="preload" src="/static/images/cards/8H.png"/>
	<img class="preload" src="/static/images/cards/7H.png"/>
	<img class="preload" src="/static/images/cards/5H.png"/>
	<img class="preload" src="/static/images/cards/AS.png"/>
	<img class="preload" src="/static/images/cards/KS.png"/>
	<img class="preload" src="/static/images/cards/QS.png"/>
	<img class="preload" src="/static/images/cards/JS.png"/>
	<img class="preload" src="/static/images/cards/TS.png"/>
	<img class="preload" src="/static/images/cards/9S.png"/>
	<img class="preload" src="/static/images/cards/8S.png"/>
	<img class="preload" src="/static/images/cards/7S.png"/>
	<img class="preload" src="/static/images/cards/3S.png"/>
	<img class="preload" src="/static/images/cards/AD.png"/>
	<img class="preload" src="/static/images/cards/KD.png"/>
	<img class="preload" src="/static/images/cards/QD.png"/>
	<img class="preload" src="/static/images/cards/JD.png"/>
	<img class="preload" src="/static/images/cards/TD.png"/>
	<img class="preload" src="/static/images/cards/9D.png"/>
	<img class="preload" src="/static/images/cards/8D.png"/>
	<img class="preload" src="/static/images/cards/7D.png"/>
	<img class="preload" src="/static/images/cards/AC.png"/>
	<img class="preload" src="/static/images/cards/KC.png"/>
	<img class="preload" src="/static/images/cards/QC.png"/>
	<img class="preload" src="/static/images/cards/JC.png"/>
	<img class="preload" src="/static/images/cards/TC.png"/>
	<img class="preload" src="/static/images/cards/9C.png"/>
	<img class="preload" src="/static/images/cards/8C.png"/>
	<img class="preload" src="/static/images/cards/7C.png"/>
	<img class="preload" src="/static/images/cards/JOK.png"/>
	<img class="preload" src="/static/images/cards/BACK.png"/>


	<div id="card-table">
	{{block "card-table" .}}{{end}}
	</div>


	<script src="/static/scripts/cards.js"></script>
	<script src="/static/scripts/server.js"></script>
	{{block "scripts" .}}{{end}}
   </body>
</html>
{{end}}
