{{template "game" .}}

{{define "card-table"}}

	<div id="bidding">
		<div id="bidding-0" class="joining joining-open" style="left:332px; top:457px; display:none;">
            <form id="bidding-0-form">
                <h6>Pick your bid</h6>
                <div><small id="bid-buttons"></small></div>
            </form>
        </div>
        <div id="bid-0" class="joining joining-filled" style="left:332px; top:457px; display:none;">
            <h5></h5>
        </div>

       
        <div id="bid-1" class="joining joining-filled" style="left:50px; top:260px; display:none;">
            <h5></h5>
        </div>

       
        <div id="bid-2" class="joining joining-filled" style="left:332px; top:90px; display:none;">
            <h5></h5>
        </div>

        <div id="bid-3" class="joining joining-filled" style="left:627px; top:264px; display:none;">
            <h5></h5>
        </div>
	</div>

	<div id="calling">
	</div>

	<div id="playing">
	</div>

	<div id="completed">
	</div>

{{end}}


{{define "scripts"}}
<script src="/static/scripts/kaiser.js"></script>
<script>
	var id = "{{.ID}}";
	server.init();

	// Show a stack of cards in the middle of the table to make it look like a card game.
	var table = "#card-table";
	cards.init({table:table, cardsUrl:"/static/images/cards.png"});
	var deck = new cards.Deck();
	deck.addCards(cards.all);
	deck.render({immediate:true});

	function repaint(gameState) {
		switch (gameState.State) {
			case "BIDDING":
				repaintBidding(gameState);
				break;
			case "CALLING":
				repaintCalling(gameState);
				break;
			case "PLAYING":
				repaintPlaying(gameState);
				break;
			case "COMPLETED":
				repaintCompleted(gameState);
				break;
			default:
				console.log("Unknown state '" + s + "'");
		}
	}

	function repaintBidding(gameState) {
		// TODO
		$("#bidding").show();
		$("#calling").hide();
		$("#playing").hide();
		$("#completed").hide();
		//turn off all panels that show bids
		for (let pos = 0; pos < 4; pos++) {
                 $("#bidding-" + pos).hide();
                 $("#bid-" + pos).hide();
        }
        //show bids that have been placed
        console.log("showing placed bids");
        if(gameState.BiddingInfo.BidsPlaced != null) {
	        for(let i = 0;  i < gameState.BiddingInfo.BidsPlaced.length; i++) {
	        	let panel = kaiser.panelForPos(gameState, gameState.BiddingInfo.LeadBidPosition + i);
	        	$("#bid-" + panel + " h5").text(gameState.BiddingInfo.BidsPlaced[i].Human);
	        	$("#bid-" + panel).show();
	        }
    	}
        //show bidding panel when your turn to bid
        if(gameState.PlayerPosition == gameState.BiddingInfo.PositionToPlay){
        	let panel = kaiser.panelForPos(gameState, gameState.PlayerPosition);
        	$("#bid-buttons").clear();
        	if(gameState.BiddingInfo.AvailableBids != null) {
	        	for(let i = 0;  i < gameState.BiddingInfo.AvailableBids.length; i++) {
	        		$("#bid-buttons").append(
	        			//create button tag
	        			$('<button/>').text(gameState.BiddingInfo.AvailableBids[i].Human).click(function () { alert('hi'); })
	        		);
	        	}
        	}
        	$("#bidding-" + panel).show();
        }
    }


	function repaintCalling(gameState) {
		// TODO
	}

	function repaintPlaying(gameState) {
		// TODO
	}

	function repaintCompleted(gameState) {
		// TODO
	}

	kaiser.init(id, {repaint: repaint}); // This starts polling and updating the game board.

	// var hands = [
	// 	new cards.Hand({faceUp:true, y:340}),
	// 	new cards.Hand({faceUp:false, x:20}),
	// 	new cards.Hand({faceUp:false, y:60}),
	// 	new cards.Hand({faceUp:false, x:380}),
	// ]

	// hands[0].addCard(new cards.Card('h', 5, table));
	// hands[0].addCard(new cards.Card('h', 12, table));
	// hands[0].addCard(new cards.Card('h', 13, table));
	// hands[0].addCard(new cards.Card('h', 14, table));
	// hands[0].render();
</script>
{{end}}
