{{template "base" .}}

{{define "content"}}
  	<div class="row">
    	<div class="col">
    		<h1>Kaiser</h1>
     	</div>
	</div>

	{{if .Registered}}
	  	<div class="row">
	    	<div class="col">
	    		<p>Start a new game, enter a code from a friend, or choose one of your in-progress games.</p>
	    	</div>
		</div>
	  	<div class="row">
	    	<div class="col-4">
	      		<h2>Create a new game</h2>
		      	<form id="new-game">
		    		<button type="submit" class="btn btn-primary btn-sm">Create game</button>
		      	</form>
	    	</div>
	    	<div class="col-8">
	      		<h2>Join an existing game</h2>
		      	<form id="existing-game">
		      		<div class="mb-3">
		    			<label for="game-code" class="form-label" required>Game Code</label>
		    			<input class="form-control form-control-sm" id="game-code">
		  			</div>
		    		<button type="submit" class="btn btn-primary btn-sm">Join game</button>
		      	</form>
		      	{{if .CurrentGames}}
			      	<br><br>
			      	<h2>In-progress games</h2>
			      	<table class="game-list">
			      	{{range .CurrentGames}}
			      		<tr>
			      			<td><a href="/game/{{.ID}}">Rejoin<br>{{.ID}}</a></td>
			      			<td>
			      			<b>{{index .Score 0}}</b> {{index .PlayerNames 0}} / {{index .PlayerNames 2}}<br>
			      			<b>{{index .Score 1}}</b> {{index .PlayerNames 1}} / {{index .PlayerNames 3}}<br>
			      			</td>
			      		</tr>
			      	{{end}}
				    </table>
			    {{end}}
	    	</div>
	  	</div>
  	{{else}}
	  	<div class="row">
	    	<div class="col">
	    		<p>Enter your first name to get started.</p>
		      	<form id="set-user">
		      		<div class="mb-3">
		    			<label for="username" class="form-label" required>Name</label>
		    			<input class="form-control form-control-sm" id="username">
		  			</div>
		    		<button type="submit" class="btn btn-primary btn-sm">Update name</button>
		      	</form>
	    	</div>
		</div>
  	{{end}}
{{end}}

{{define "scripts"}}
<script>
	server.init();

	$("#set-user").on("submit", (event) => {
	    event.preventDefault();
	    event.stopPropagation();

	    server.updateUser({"Name": $("#username").val()}, (user) => {
	    	$("#username").text(user.Name);
	        location.href = "/";
	    });
	});

	$("#new-game").on("submit", function(event) {
	    event.preventDefault();
	    event.stopPropagation();

	    server.newGame(function(gameState) {
	    	location.href = "/join/" + gameState.ID;
	    });
	});

	$("#existing-game").on("submit", (event) => {
	    event.preventDefault();
	    event.stopPropagation();

	    location.href = "/game/" + $("#game-code").val();
	});
</script>
{{end}}

