{{template "game" .}}

{{define "card-table"}}

        <div id="joining-0" class="joining joining-open shadow" style="left:332px; top:457px; display:none;">
            <form id="joining-0-form">
                <h6>Seat available</h6>
                <div><small><button>Join position</button></small></div>
            </form>
        </div>
        <div id="joined-0" class="joining joining-filled shadow" style="left:332px; top:457px; display:none;">
            <h5></h5>
        </div>

        <div id="joining-1" class="joining joining-open shadow" style="left:50px; top:260px; display:none;">
            <form id="joining-1-form">
                <h6>Seat available</h6>
                <div><small><button>Join position</button></small></div>
            </form>
        </div>
        <div id="joined-1" class="joining joining-filled shadow" style="left:50px; top:260px; display:none;">
            <h5></h5>
        </div>

        <div id="joining-2" class="joining joining-open shadow" style="left:332px; top:90px; display:none;">
            <form id="joining-2-form">
                <h6>Seat available</h6>
                <div><small><button>Join position</button></small></div>
            </form>
        </div>
        <div id="joined-2" class="joining joining-filled shadow" style="left:332px; top:90px; display:none;">
            <h5></h5>
        </div>

        <div id="joining-3" class="joining joining-open shadow" style="left:627px; top:264px; display:none;">
            <form id="joining-3-form">
                <h6>Seat available</h6>
                <div><small><button>Join position</button></small></div>
            </form>
        </div>
        <div id="joined-3" class="joining joining-filled shadow" style="left:627px; top:264px; display:none;">
            <h5></h5>
        </div>

        <div id="change-name" class="shadow">
            <h5 id="change-name-header"></h5>
            <form>
                <input id="change-name-value" type="text" value="{{.PlayerName}}" maxlength="10"></input>
                <small><button id="change-name-button">Save</button></small><span id="save-result"></span>
            </form>
        </div>

        <div style="position:absolute; left:35px; top:80px; font-weight:bold;">
            Choose your seat position.<br>
            Sit across from your partner.<br><br>
            Send the link above to<br>
            invite more players.<br><br>
            When everyone has chosen,<br>
            the game will start.
        </div>

{{end}}

{{define "scripts"}}
<script src="/static/scripts/join.js"></script>
<script>
    var id = "{{.ID}}";
    server.init();

    function repaint(joinState) {
        if (joinState.PlayerCount == 4) {
            location.href = "/game/" + id;
            return;
        }

        for (let pos = 0; pos < 4; pos++) {
            if (joinState.PlayerNames[pos] === "") {
                $("#joining-" + pos).show();
                $("#joined-" + pos).hide();
            } else {
                $("#joining-" + pos).hide();
                $("#joined-" + pos + " h5").text("Welcome " +joinState.PlayerNames[pos]);
                $("#joined-" + pos).show();
            }
        }

        // if player has not given their name, they must do that first.
        if ({{.HasName}}) {
            $("#change-name-header").text("Change your name (if you want):");
        } else {
            $("#change-name-header").text("First enter your name:");
            // Disable all the joining buttons.
            $(".joining-open button").prop('disabled', true);
        }
        $("#change-name-button").click(changeName);
    }

    function changeName(event) {
        event.preventDefault();
        let name = $("#change-name-value").val().trim();
        if (!name) {
            alert("You must enter a name!");
            return;
        }
        server.updateUser({"Name": name, "ID": id}, () => {
            $("#save-result").text("Saved!");
            setTimeout(() => {$("#save-result").text(""); document.location='/join';}, 3000);
        });
    }

    for (let pos = 0; pos < 4; pos++) {
        $("#joining-" + pos).on("submit", function(event) {
            event.preventDefault();
            event.stopPropagation();
            server.joinGame(id, pos, function(joinState) {
                repaint(joinState);
            });
        });
    }

    join.init(id, {repaint: repaint});
</script>
{{end}}
