html { 
    background-color:#092E20; 
}

body { 
    position:relative;
    border-radius:8px; 
    box-shadow:black 0px 0px 2px; 
    width: 812px; 
    background:#FFF; 
    margin:20px auto; 
    border:solid 1px black; 
    font-family: arial, sans-serif; 
    padding:20px;  
}

#buttons {
    text-align:center;
}

a img {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;          
}

button {
    height:30px;
    width:100px;
    margin:8px auto;
}

img.preload {
    display:none;
}

h1 {
    font-size:24px;
    text-align:left;
    padding:0px;
    margin:4px auto;
}

#card-table {
    background-color:green;
    height:500px;
    width:800px;
    border:solid 6px brown;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    box-shadow:#111 1px 1px 2px;
}

a:visited {color:blue;}

#deal {
    position: absolute;
    left:310px;
    top:170px;
}

footer {
    font-size : 12px;
    color:grey;
    margin:10px;
}

footer a, footer a:visited{
    color:grey;
}

footer a:hover {
    color:black;
}

.shadow {
    border: 2px black solid;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    box-shadow:#111 1px 1px 2px;   
}

.joining {
    height:68px;
    width:160px;
    background-color: white;
    font-size: 10px;
    padding: 4px;
    position: absolute;
}

.joining h6 {
    font-size: 12px;
    margin: 2px;
}

.joining h5 {
    font-size: 16px;
    margin: 2px;
}

.joining input {
    width: 140px;
    font-size: 10px;
}

.joining button {
    font-size: 10px;
    width: 85px;
    height: 20px;
    margin: 2px auto;
    text-align: left;
}

#change-name {
    top: 246px;
    left: 294px;
    height:100px;
    width:250px;
    background-color: #DDCC00;
    font-size: 10px;
    padding: 4px;
    position: absolute;
}

#change-name h5 {
    font-size: 14px;
    padding: 4px;
    padding-bottom: 12px;
    margin: 0px;
    line-height: 14px;
}

.name-plate {
    position: absolute;
    font-weight: bold;
}

.info-plate {
    position: absolute;
    font-weight: bold;
    font-size: smaller;
}

.info-plate ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info-plate li {
    margin-top: 4px;
}

li.to-play {
    font-weight: bold;
    background-color: white;
    padding: 4px;
    font-size: 14px;
    border: 2px solid black;   
    border-radius:12px; 
    box-shadow:black 0px 0px 2px; 
}

li.your-turn {
    animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: #CC0000;
  }
  100% {
    background-color: white;
  }
}

#trump {
    position: absolute;
    left: 379px; 
    top: 220px;
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

#no-trump {
    position: absolute;
    left: 340px; 
    top: 218px;
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.action-plate {
    position: absolute;
    height: 50px;
    width: 125px;
    left: 327px;
    top: 329px; 
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    background: #DDCC00;
}

.action-plate-me {
    left: 300px;
    width: 196px;
}

.calling {
    background: white;
    font-size: 18px;
    line-height: 20px;
}

.to-bid {
    background-color: white;
}

#bidding {
    position: absolute;
    left: 116px; 
    top: 245px; 
    width: 550px;
    height: 142px;
    background: #DDCC00;
    display: none;
}

#bidding h5 {
    font-size: 16px;
    margin: 2px;
}

#bidding div {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#bidding button {
    width: 100px;
    height: 36px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#calling {
    position: absolute;
    left: 120px;
    top: 300px;
    width: 550px;
    height: 80px;
    background: #DDCC00;
    display: none;
}

#calling h5 {
    font-size: 16px;
    margin: 2px;
}

#calling div {
    text-align: center;
}

#calling button {
    font-size: 24px;
    font-weight: bold;
    height: 34px;
    margin-left: 2px;
    margin-right: 2px;
}

#called {
    position: absolute;
    left: 192px;
    top: 184px;
    width: 400px;
    height: 80px;
    background: #DDCC00;
    display: none;
    text-align:center;
    line-height: 80px;
    z-index: 2000000000;
}

#called h5 {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
}

#last-trick {
    position: absolute; 
    left: 10px; 
    top: 10px; 
    width: 280px; 
    height: 128px;
    background: #DDCC00;
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
}

.lead-card {
    padding: 0px;
    border: 3px solid red;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    background-clip: border-box;
}

.winning-card {
    padding: 0px;
    border: 3px solid blue;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    background-clip: border-box;
}

.card-received {
    padding: 0px;
    border: 5px solid #DC0;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    background-clip: border-box;
}

#trick-tally table {
    width: 120px;
    border-spacing: 0;
    margin-top: 16px;
}

#trick-tally th {
    border-bottom: 1px solid black;
    text-align: center;
}

#trick-tally td {
    font-size: 18px;
    text-align: center;
}

#score {
    position: absolute; 
    left: 621px; 
    top: 10px; 
    width: 160px; 
    height: 128px;
    background: #DDCC00;
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
}

#score table {
    margin-top: 20px;
    width: 100%;
    border-spacing: 0;
}

#score th {
    border-bottom: 1px solid black;
    text-align: center;
}

#score td {
    font-size: 18px;
    text-align: center;
}

#score-detail {
    position: absolute; 
    left: 187px; 
    top: 20px; 
    width: 400px; 
    height: 400px;
    display: none;
    background-color: white;
    z-index: 2000000001;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
}

#score-detail table {
    width: 100%;
    border-spacing: 0;
}

#score-detail tbody, #score-detail thead {
  display: block;
}

#score-detail thead tr th {
    height: 40px; 
    line-height: 20px;
}

#score-detail th {
    border-bottom: 1px solid black;
    text-align: center;
    width: 195px;
}

#score-detail td {
    text-align: right;
    width: 195px;
}

#score-detail tbody {
    height: 290px; 
    overflow-y: auto;
    overflow-x: hidden; 
}

#score-detail .score-note {
    font-size: 10px;
    text-align: left;
    padding-left: 12px;
}

.winner {
    border-radius:8px; 
    background: green;
    color: white;
    padding: 5px;
    margin: 5px;
}