html { 
	background-color:#092E20; 
}

body { 
	position:relative;
	border-radius:8px; 
	box-shadow:black 0px 0px 2px; 
	width: 812px; 
	background:#FFF; 
	margin:20px auto; 
	border:solid 1px black; 
	font-family: arial, sans-serif; 
	padding:20px;  
}

#buttons {
	text-align:center;
}

a img {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;			
}

button {
	height:30px;
	width:100px;
	margin:8px auto;
}

img.preload {
	display:none;
}

h1 {
	font-size:24px;
	text-align:left;
	padding:0px;
	margin:4px auto;
}

#card-table {
	background-color:green;
	height:500px;
	width:800px;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}

a:visited {color:blue;}

#deal {
	position: absolute;
	left:310px;
	top:170px;
}

footer {
	font-size : 12px;
	color:grey;
	margin:10px;
}

footer a, footer a:visited{
	color:grey;
}

footer a:hover {
	color:black;
}

.joining {
	height:68px;
	width:160px;
	background-color: white;
	border: 2px black solid;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:#111 1px 1px 2px;
	font-size: 10px;
	padding: 4px;
	position: absolute;
}

.joining h6 {
	font-size: 12px;
	margin: 2px;
}

.joining h5 {
	font-size: 16px;
	margin: 2px;
}

.joining input {
	width: 140px;
	font-size: 10px;
}

.joining button {
	font-size: 10px;
	width: 85px;
	height: 20px;
	margin: 2px auto;
	text-align: left;
}

.joining-open {

}

.joining-filled {
}

.name-plate {
	position: absolute;
	font-weight: bold;
}

.info-plate {
	position: absolute;
	font-weight: bold;
	font-size: smaller;
}

.info-plate ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

.trump-plate {
	position: absolute;
	font-weight: bold;
	font-size: 48px;
}

.bidding {
	width: 550px;
	height: 128px;
	background: #DDCC00;
}

.bidding button {
	width: auto;
	height: 30px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-right: 2px;
}

.other-bid {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	background: #DDCC00;
}

#last-trick {
	border: 1px solid black;
	background: #DDCC00;
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
}

#trick-tally th {
	border-bottom: 1px solid black;
}

#trick-tally td {
	font-size: 18px;
}

#score {
	border: 1px solid black;
	background: #DDCC00;
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
}

#score th {
	border-bottom: 1px solid black;
}

#score td {
	font-size: 18px;
	text-align: right;
}

.to-bid {
	background-color: white;
}

#trump-buttons button {
	font-size: 24px;
	font-weight: bold;
	height: 34px;
}

.lead-card {
	border: 2px solid red;
}

#score-detail {
	border: 2px solid black;
	background-color: white;
	z-index: 1000;
	font-size: 18px;
	font-weight: bold;
	padding: 4px;
}

#score-detail th {
	border-bottom: 1px solid black;
}

#score-detail td {
	text-align: right;
}

#score-detail tbody {
  display:block;
  overflow:auto;
  height:320px;
  width:100%;
}

#score-detail thead tr {
  display:block;
}
